/* for login and signup page */

.loginScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logInBox {
    width: 30%;
    margin-top: 15vh;
}

@media(min-width: 1200px){
    .logInBox {
        width: 35%;
    }
    .logInBox label{
        margin: 10px 1.8rem;
    }
    .logInBox input{
        margin: 0rem 1.8rem;
        width: 90%;
    }
    .logInBox button{
        margin: 1.5rem 1.8rem;
        width: 90%;
    }
}

@media(min-width: 1024px){
    .logInBox {
        width: 40%;
    }
    .logInBox label{
        margin: 10px 1.8rem;
    }
    .logInBox input{
        margin: 0rem 1.8rem;
        width: 90%;
    }
    .logInBox button{
        margin: 1.5rem 1.8rem;
        width: 90%;
    }
}

@media(max-width: 920px){
    .logInBox {
        width: 60%;
        margin-top: 15vh;
    }
    .logInBox label{
        margin: 10px 1.8rem;
    }
    .logInBox input{
        margin: 0rem 1.8rem;
        width: 90%;
    }
    .logInBox button{
        margin: 1.5rem 1.8rem;
        width: 90%;
    }
}

@media(max-width: 540px){
    .logInBox {
        width: 90%;
    }
    .logInBox label{
        margin: 10px 0rem;
    }

    .logInBox input{
        margin: 0rem 0rem;
        width: 100%;
        border: 1px solid #1A1D29;
    }

    .logInBox button{
        margin: 1.5rem 0rem;
        width: 100%;
        background: #2F3E8F;
        color: #fff;
        border: 1px solid #2F3E8F;
        padding: 7px 0px;
        border-radius: 8px;
    }
}


.logInBox input{
    border: 1px solid #1A1D29;
}

.logInBox button{
    background: #2F3E8F;
    color: #fff;
    border: 1px solid #2F3E8F;
    padding: 7px 0px;
    border-radius: 8px;
}


/* Dashboard page */

.multi-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tagPill{
    background-color: #FDEBD0;
    color: #E67E22;
    font-size: 0.85rem;
    padding: 3px 7px;
    border-radius: 5px;
    font-weight: bolder;
}

.tagPillSuccess{
    background-color: #E8F6F0;
    color: #2E8B57;
    font-size: 0.85rem;
    padding: 3px 7px;
    border-radius: 5px;
    font-weight: bolder;
}

.projCard{
    cursor: pointer;
}

@media (min-width: 1200px){
    .body{
        margin-right: 4rem;
    }
}

@media (min-width: 1024px){
    .dbFullScreen{
        display: flex;
        flex-direction: row;
    }  
    .body{
        margin-left: 2rem;
    }  
}

@media (max-width: 920px){
    .body{
        margin: 0rem;
    }
}




/* Task Modal */

.taskModalBody label{
    margin-top: 1rem;
    margin-bottom: 10px;
}

.taskModalBody .owners{
    display: inline-flex;
}

.taskModalBody .tags{
    display: inline-flex;
    flex-wrap: wrap;
}


/* Navigation */

@media (min-width: 1024px){
    .fixToTop{
        position: sticky;
        top: 0;
        height: 100vh; /* Full viewport height */
        background-color: #F4F6F9;
        z-index: 100; /* Ensures it stays on top */
    }

    .navigation li{
        margin: 1rem 0rem;
        font-size: 1.3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .navigation {
        list-style-type: none;   
    }

    .active{
        color: #2F3E8F;
    }

    .disabled{
        color: gray
    }
}


/* Body */

/* .body{
    margin-left: 2rem;
    margin-right: 5rem;
} */
/* Search Bar */
    @media (min-width: 1200px){
        .dbHeadings{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .projOptions{
            display: inline-flex;
            justify-content: flex-end;
        }

        .newProjBtn{
            width: 100%;
            margin-left: 15px;
        }
        .newTaskBtn{
            width: 100%;
            margin-left: 15px;
        }
    }
    @media (min-width: 1024px){
        .searchInput{
            width: 100%;
            height: 2.5rem;
            border-radius: 5px;
            border: 2px solid gray;
        }
        .searchBarLarge{
            position: sticky;
            top: 0;
            z-index: 1000; /* Ensures it stays above other content */
            background-color: #fff;
            padding: 15px 0px;
        }
        .dbHeadings{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .projOptions{
            display: inline-flex;
            width: 50%;
        } 

        .newProjBtn{
            width: 100%;
            margin-left: 15px;
        }
        .newTaskBtn{
            width: 100%;
            margin-left: 15px;
        }
    }
    @media (max-width: 920px){
        .searchInput {
            width: 100%;
            height: 2.5rem;
            border-radius: 5px;
            border: 2px solid gray;
        } 
        .dbHeadings{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .projOptions{
            display: inline-flex;
            width: 50%;
        } 

        .newProjBtn{
            width: 100%;
            margin-left: 15px;
        }
        .newTaskBtn{
            width: 100%;
            margin-left: 15px;
        }
        .fixToTop{
            position: sticky;
            top: 0;
            z-index: 1000; /* Ensures it stays above other content */
            background-color: #fff;
            padding-bottom: 1px;
        }
    }

    @media (max-width: 540px){
        .dbHeadings{
            display: flex;
            flex-direction: column;
        }
        .projOptions{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .newProjBtn{
            width: 100%;
            margin-left: 10px;
        }
        .newTaskBtn{
            width: 100%;
            margin-left: 10px;
        }
    }

.searchInput:focus {
    outline: none;
    border: 2px solid #2F3E8F;
    box-shadow: 0px 0px 0px 0.2px #2F3E8F;
}

/* Task table */

.taskTable thead th{
    border: none;
    background-color: #2F6F6F;
    color: #fff;
    padding: 15px 8px;
}

.myTaskTable{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.myProjTable{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.taskTable thead {
    border: 2px solid #2F6F6F;
}

.taskTable tbody td{
    border: 2px solid gray;
    padding: 5px
}


@media(min-width: 1200px){
    .newCurrTaskBtn{
        margin-left: 2rem;
    }
    .sortOptions{
        display: inline-flex;
    }

    .filterOptions{
        display: flex;
        flex-direction: column;
    }  
    .otherOptions{
        display: flex;
        width: 30%;
    }
    .currTaskTable{
        padding: 0rem 1rem;
    }
}

@media(min-width: 1024px){
    .sortOptions{
        display: flex;
    }
    .priorityBtn button{
        margin: 0.3rem;
    }
    .otherOptions{
        width: 50%;
    }

    .taskTable{
        width: 100%;
        overflow-x: auto;
    }

    .myTaskTable{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }

    .myProjTable{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }

    .currTaskHeading{
        margin: 2rem 0rem
    }
}

@media(max-width: 920px){
    .sortOptions{
        display: flex;
    }
    .priorityBtn button{
        margin: 0.3rem;
    }
    .priorityBtn{
        display: flex;
    }
    .otherOptions{
        width: 50%;
    }
    
    .taskTable{
        width: 100%;
        overflow-x: auto;
    }

    .myTaskTable{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        min-width: 1100;
    }

    .myProjTable{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        min-width: 1100;
    }

    .currTaskHeading{
        margin: 2rem 0rem
    }
}

@media(max-width: 540px){
    .sortOptions{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .priorityBtn{
        display: flex;
        flex-direction: column;
        margin: 0rem 4rem;
    }

    .priorityBtn button{
        width: 100%;
    }

    .otherOptions{
        display: flex;
        width: 100%;
        margin-left: 5px;
    }

    .otherOptions div{
        padding: 0px 5px;
    }

    .currTaskHeading{
        margin: 1rem 0rem
    }
}

@media (max-width: 375px){
    .priorityBtn{
        margin: 0rem 2rem;
    }
}


.taskArrow{
    transition: color 0.3s ease;
    cursor: pointer;
}

.taskArrow:hover {
    color: #2F3E8F;
}

.filterBtn{
    background-color: #fff;
    border: 1px solid black;    
}

.filterBtn:hover{
    background-color: #2F6F6F;
    color: #fff;
    border: 2px solid #fff;    
    cursor: pointer;
}


/* teams & team Details page*/

.teamHeading{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.teamCard{
    cursor: pointer;
    margin: 0.5rem 0rem;
}

.memberModalBody label{
    margin-bottom: 10px;
}

.memberModalBody input{
    margin-bottom: 10px;
}

/* Reports page */

@media (max-width: 540px){
    .reportHeading {
        margin: 1rem 0rem;
    }
    .barGraph{
        margin: 1rem
    }
}

@media (max-width: 920px){
    .barGraph{
        margin: 2rem 2rem;
    }
}

@media (min-width: 1024px){
    .reportHeading {
        margin: 1rem 0rem;
    }
    .barGraph{
        margin: 2rem 0rem
    }
}


.allGraphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barGraph{
    width: 900px;
    height: 500px;
}

/* Setting */
.mySettingDiv thead th{
    border: none;
    background-color: #2F6F6F;
    color: #fff;
    padding: 15px 8px;
}

.mySettingTable{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    margin: 1rem 0rem;
    width: 100%;
}

.mySettingDiv thead {
    border: 2px solid #2F6F6F;
}

.mySettingDiv tbody td{
    border: 2px solid gray;
    padding: 5px
}

@media(min-width: 1200px){
    .settingBody{
        margin-top: 2rem;
        margin-left: 2rem;
        padding-right: 4rem;
    }
    .mySettingDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mySettingTable{
        width: 80%;
    }   
}

@media (max-width: 1024px){
    .settingBody{
        margin-top: 2rem;
        padding: 0rem 2rem;        
    }
}

@media (max-width: 540px){
    .settingBody{
        margin-top: 1rem;
        padding: 0rem 0rem;
    }
}

